.joke-search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.joke-categories {
  width: 100%;
}

.name-field {
  width: 45%;
}

label {
  vertical-align: top;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
